.painel-container{
    margin-top: 5vh;
}
.tittle{
    margin-bottom: 1vh;
    color:#3B97CC;
    font-size:60px;
    margin-left: 43.5%;
}
.icon-tittle{
    cursor:pointer;
    margin-left:-620px;
}
.top{
    color: #fff;
    display:flex;
    justify-content:space-evenly;

}
.top section{
    background-color: #002740;
    border-radius: 9px;
}
.top section {
    width:450px;
    background-color: #002740;
    border-radius: 9px;
    padding:10px
}
.pass{
    margin-left: 125px;
    font-size: 40px;
}
.guiche{
    margin-left: 180px;
    font-size: 40px;
}

.bottom{
    display: flex;
    justify-content:space-evenly;
    margin-top:50px;
}
.fila-container{
    background-color: #113c57;
    padding:20px;
    padding-top: 20px;
    border-radius: 9px;
    max-height: 300px;
}
.fila-container h2{
    color: #fff;

}
.next-list{
    margin-left: 70px;
    margin-top:10px;
    list-style: none;
}
.next-list li{
    color: #fff;

}

.chamar{
    margin-left: 50px;
    width: 450px;
    padding:100px
}
.chamar h2{
    color:#BA252B;
    margin-left: 65px;
    margin-bottom:5px;
    margin-top:20px;
}

.chamar button{
    margin-left: 50px;
    padding: 40px;
    padding-top:10px;
    padding-bottom:10px;
    border: none;
    border-radius:9px;
    background-color: #11CC47;
    color:#fff;
}

